<h1> Suckers</h1>

<p><a href = '/suckers' >Return to listing</a></p>

<table class="sucker_admin">
  <tr>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
    <th>twitter</th>
  </tr>
        <tr>
          <td><%= @sucker.display_name %></td>
          <td><%= @sucker[:email] %></td>
          <td><%= @sucker.display_phone %></td>
          <td><%= @sucker[:twitter] %></td>
        </tr>
</table>
