<h1> Suckers</h1>

<p> Click anywhere on a row to see details </p>

<table class="suckers_admin">
<tr>
  <th>name</th>
  <th>email</th>
</tr>
<% @people.each do |person| %>
  <tr>
    <td><a href= 'suckers/<%= person[:id]%>'><%= person[:name] %></a></td>
    <td><a href= 'suckers/<%= person[:id]%>'><%= person[:email] %></a></td>
  </tr>
<% end %>
</table>
