
<div class="top">

  <div class="logo">
    <img src="/longcon_logo.jpg" width="210" height="210" alt="LongCon Logo">
  </div>

  <div class="beside_logo">
    <h1> Thanks! </h1>

    <p>Thanks, <%= @name %>!</p> 
    </br>
    <p>We'll let you know about this amazing, incredible opportunity just as soon as possible! </p>

  </div>   
</div>
